{
    "semi": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 80,
    "singleQuote": true,
    "bracketSameLine": false,
    "trailingComma": "es5"
}